body {
		color: rgb(230,230,230);
        font-family: monospace;
		background-color: rgb(50,50,50);
      }
	  #mainContent
	  {
		  background-color: rgb(70,70,70);
		  width: 60%;
		  height: 600px;
		  margin: auto;
	  }
      h1 {
        background-color: rgb(150,40,100);
        display: inline-block;
        font-size: 3em;
        margin: 0;
        padding: 14px;
		width: 40%;
		color: black;
      }
      h3 {
        color: black;
        font-size: 20px;
        margin-top: 3px;
        text-align: center;
      }
	  p{
		  
        font-family: monospace;
        font-size: 17px;
	  }
	  #chatOuter
	  {
	  
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        margin-top: 60px;
       /*background-color: rgb(70,70,70); 
	   height: 400px;
        overflow-y: scroll; */
	  }
      #chatbox {
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        margin-top: 60px;
      }
      #userInput {
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        margin-top: 60px;
      }
      #textInput {
        width: 90%;
        border: none;
        border-bottom: 3px solid black;
        font-family: monospace;
        font-size: 17px;
      }
      .userText {
        color: white;
        font-family: monospace;
        font-size: 17px;
        text-align: right;
        line-height: 30px;
      }
      .userText span {
        background-color: #808080;
        padding: 10px;
        border-radius: 2px;
      }
      .botText {
        color: white;
        font-family: monospace;
        font-size: 17px;
        text-align: left;
        line-height: 30px;
      }
      .botText span {
        background-color: #4169e1;
        padding: 10px;
        border-radius: 2px;
      }
      #tidbit {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 300px;
      }
      .boxed {
        margin-left: auto;
        margin-right: auto;
        width: 78%;
        margin-top: 60px;
        border: 1px solid green;
      }
      .box {
        border: 2px solid black;
      }
	  #thinking
	  {
		color: white;
        font-family: monospace;
        font-size: 17px;
        text-align: left;
        line-height: 30px;
		
	  }
	  
	  #thinking:after {
	  content: ' .';
	  animation: dots 1s steps(5, end) infinite;}

	@keyframes dots {
	  0%, 20% {
		color: rgba(0,0,0,0);
		text-shadow:
		  .25em 0 0 rgba(0,0,0,0),
		  .5em 0 0 rgba(0,0,0,0);}
	  40% {
		color: white;
		text-shadow:
		  .25em 0 0 rgba(0,0,0,0),
		  .5em 0 0 rgba(0,0,0,0);}
	  60% {
		text-shadow:
		  .25em 0 0 white,
		  .5em 0 0 rgba(0,0,0,0);}
	  80%, 100% {
		text-shadow:
		  .25em 0 0 white,
		  .5em 0 0 white;}}
		
