<!DOCTYPE html>
<html>
<head>
<title>
MemoryDialogueBot
</title>
<link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
<center>
<h1>MemoryDialogueBot </h1>
</center>
<div id="mainContent">
<center>
<h2>Instructions</h2>
<p>The agent is developed to be a question answering component, answering self disclosure type questions.
The purpose of this user test is to see how well the agent can answer questions.
</p>
<p>
 Please ask the agent at least 5 questions to try to get to know the agent, as if it was a real person. Please send complete sentences one at a time  </p>
<p>When to stop asking questions to the agent is decided by you.
Afterwards, please fill in a short 10 question survey to finish the test. </p>

<h2>Disclaimer</h2>
<p>
By participating in this test you agree that all data, including messages sent to the agent and answers to the survey, will be saved for research purposes.
Messages may be re-used in the current or a future version of the system, in which the system is publicly available under an MIT license.
The data will not be sold to any third-parties. If you finish the survey and wish to withdraw afterwards
then Please remember your ID: {{ session['userID'] }}
</p>

<form action="/chat" method="post">
<p><input type="checkbox" required name="terms"> <u>I understand and agree with what is stated on this page.</u></p>
<p><input type="submit" value="Continue"></p>
</form>

</center>
</div>
</body>
</html>