  <!DOCTYPE html>
<html>
 <head>
  <title>MemoryDialogueBot</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/styles.css"><!--    "../static/styles.css"-->
  </head>
  <body>
    <center>
      <h1>
        MemoryDialogueBot
      </h1>
    </center>
	<center>
	
	<p>Thank you for participating in this study. 
	</p><p>You can now exit this page.</p>
	<p> <b>If you wish to withdraw from the study, <br>
	<b>e-mail m.lundellvinkler@student.utwente.nl</b> with your User ID: {{ session['userID'] }}.</b>
	</center>

	</body>
</html>